<h1>Repaid Loans</h1>
<% if @repaid_loans.any? %>
  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Amount</th>
    </tr>
    </thead>
    <tbody>
    <% @repaid_loans.each do |loan| %>
      <tr>
        <td><%= loan.user.name %></td>
        <td><%= loan.amount %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>No repaid loans at the moment.</p>
<% end %>
<%= link_to "Back to Dashboard", admin_path, class: "button-style"  %>
