/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loan-requests {
    background-color: #3498db; /* Blue */
}

.active-loans {
    background-color: #27ae60; /* Green */
}

.repaid-loans {
    background-color: #f39c12; /* Orange */
}

.rejected-loans {
    background-color: #e74c3c; /* Red */
}

/* Hover effect */
.button:hover {
    background-color: #2c3e50; /* Darker color on hover */
}
/* app/assets/stylesheets/application.css */

.button-style {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

